{% extends "base.html" %}
{% block content %}
<h2>Welcome to the Japanese Vocabulary Size Test</h2>
<p>Here's some copy about this page.</p>
<div>
	<p>Let's put a login form here.  Or, if you're already logged in, we won't show this part.</p>
</div>
<div>
	<p>If you're logged in AND you haven't finished the test and post-survey, we'll put a link to the test here.</p>
<div>
	<p>Let's put a logout button here.  Or, if you're not logged in, we won't show this part.</p>
</div>

<div>
	<p>Here's some test code:</p>
	<ul>
	  <p>{% for item in  message %}
	     <li>{{item}}</li>
	     {% endfor %}
	  </p>
	</ul>
</div>

{% endblock %}
