{% extends "base.html" %}
{% block content %}
<h2>Welcome to the Japanese Vocabulary Size Test</h2>
{% if session.identity %}
  <div>
    <p>Here's some copy thanking you for logging in.</p>
    {% if finished %}
    <p>You have completed the test and post-survey.  Thanks!</p>
    {% else %}
    <p>You haven't completed the test and post-survey.  <a href="/test">Click here</a> to do so.</p>
    {% endif %}
  </div>
  <div>
    <p>You can also <a href="/logout">log out</a>.</p>
  </div>
{% else %}
  <div>
    <p>Here's some copy about this page.</p>
    {% include "login.html" %}
  </div>
{% endif %}

{% endblock %}
