{% extends "base.html" %}
{% block content %}
<h2>Japanese Vocabulary Size Test</h2>
{% if session.identity %}
  {% if pretest %}
  <div>
    <p>You have not yet begun the test.  Here's an example question to get you used to the format.</p>
  </div>
  {% else %}
    {% if finished %}
      <div>
        <p>You have completed the test.  Here's a post-survey.</p>
      </div>
    {% else %}
      <div>
	<p>You are still taking the test.  Here's your next set of questions.</p>
	<p>{{queue}}</p>
      </div>
    {% endif %}
  {% endif %}
{% else %}
  <div>
    <p>Please log in before continuing:</p>
    {% include "login.html" %}
  </div>
{% endif %}

{% endblock %}
